@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0');
.font-gothic {
    font-family: 'DotGothic16', sans-serif;
}

@keyframes rainbow {
    0% {
        color: red;
    }
    33% {
        color: rgb(43, 237, 43);
    }
    66% {
        color: rgb(0, 174, 255);
    }
    100% {
        color: red;
    }
}

.rainbow {
    animation: rainbow 5s infinite;
}

@keyframes multiblue {
    0% {
        color: rgb(230, 135, 3);
    }
    50% {
        color: rgb(255, 0, 162);
    }
    100% {
        color: rgb(230, 135, 3);
    }
}

.multiblue {
    animation: multiblue 5s infinite;
}

@keyframes buttonblink {
    0% {
        color: rgb(255, 255, 255);
    }
    50% {
        color: rgb(27, 225, 40);
    }
    100% {
        color: rgb(255, 255, 255);
    }
}

.buttonblink {
    animation: buttonblink 1s infinite;
}

.material-symbols-outlined {
    font-size: 125% !important;
    color: inherit !important;
    vertical-align: middle;
    height: fit-content;
    width: fit-content;
}

* {
    box-sizing: border-box;
}